.carditem {
  display: flex;
  box-shadow: 0.5px 1px 1px rgba(0, 0, 0, 0.248);
  border-radius: 5px;
  margin: 3px 0;
  overflow: hidden;
}

.card-item {
  background-color: white;
  cursor: pointer;
  flex: 7;
  padding: 4px;
  overflow-y: scroll;
  overflow-x: auto;

  &:hover{
    background-color: rgba(170, 160, 160, 0.158);
  }
}

.editable-option {
  background-color: rgba(250, 239, 239, 0.534);
  cursor: pointer;
  flex: 1;
  padding: 4px;
}
