.trello-card {
  width: 250px;
  background-color: rgb(245, 237, 237);
  // background-color: rebeccapurple;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.276);
  margin: 0px 5px 36px 0;
  position: relative;
  vertical-align: top;
  padding: 7px 8px;
  
  .trello-card-flex{
    display: flex;
    flex-direction: column;
  }
}

.trello-card-headers {
  line-height: 1;

  h2 {
    font-weight: bold;
    font-size: 14px;
    margin-left: 5px;
    vertical-align: bottom;
    display: inline-block;
    margin-bottom: 4px;
  }
}

.trello-card-add {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.378);
  cursor: pointer;
  // padding: 2px 0 2px 5px;
  padding: 4px;
  border-radius: 5px;
  margin: 3px 0 0 0 ;

  &:hover {
    background-color: rgba(0, 0, 0, 0.096);
  }
}

.add-button {
  padding: 4px 7px;
  margin-top: 3px;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.close-button-space {
  margin-top: 3px;
  border: none;
  vertical-align: middle;
  padding: 4px 9px;
  border-radius: 5px;
  margin-left: 2px;
}

.close-button {
  transform:scale(1.5,1); 
  display: inline-block;
  opacity: 0.4;
  vertical-align: middle;
  margin: 0;
  &:hover {
    opacity: 1;
  }

}

.trello-card-new {
  width: 100%;
  border: none;
  resize: none;
  padding: 4px;
  overflow-y: scroll;
  box-shadow: 0.5px 1px 1px rgba(0, 0, 0, 0.248);
  border-radius: 5px;
  margin: 3px 0;
}
